<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Forward to Nodejs" stopProcessing="true">
                    <match url="^complaint(.*)" />
                    <!--match url="^$" /-->
                    <!--action type="Rewrite" url="http://localhost:3000/complaint{R:1}" /-->
                    <!--new-->
                    <!--conditions logicialGrouping="MatchAll" trackAllCaptures="false"-->
                    <!--action type="Redirect" url="http://localhost:3000/complaint{R:1}" redirectType="Permanent" /-->
                    <action type="Rewrite" url="http://localhost:3000/complaint{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Fix Localhost Links" enabled="false">
                    <match filterByTags="A, Img, Link, Script" pattern="localhost:3000" />
                    <action type="Rewrite" value="services.suratcity.go.th" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
